

<div>
	<link type="text/css" rel="stylesheet" href="/assets/styles/core_a.css">
	<link type="text/css" rel="stylesheet" href="/assets/styles/core_b.css">

	<div id="title" class="titlebar_01 margin_10b">
		<span class="tt_r26 j_entities">{{movie.title}}</span>
	</div>

	<div class="data_box">
		<div class="img_side_content pos_rel">
			<div class="poster">
				<img src="/pictureServlet?id={{movie.code}}&type=poster&scale" alt="{{movie.poster.name}}" title="{{movie.title}}"
					itemprop="image"> <img class="OverlayPlay" width="0" height="0" alt=" "
					src="http://fr.web.img4.acsta.net/commons/empty.gif">
			</div>
			<div class="content">
				<table class="data_box_table margin_10b">
					<tbody>
						<tr>
							<th><span class="lighten"> Date de sortie </span></th>
							<td><strong><span itemprop="datePublished" content="{{movie.release.releaseDate}}">{{movie.release.releaseDate}}</span></strong>
								(<span itemprop="duration">{{movie.runtime / 60 }}</span>)&nbsp;</td>
						</tr>
						<tr>
							<th><span class="lighten"> Réalisé par </span></th>
							<td><span ng-repeat="castMember in movie.castMember | filter:castMember.activity.code='8002'"
								itemprop="name">{{castMember.person.name}}{{$last ? '' : ', '}}</span></td>
						</tr>
						<tr>
							<th><span class="lighten"> Avec </span></th>
							<td><span ng-repeat="castMember in movie.castMember | filter:castMember.activity.code='8001'"
								itemprop="name">{{castMember.person.name}}{{$last ? '' : ', '}}</span></td>
						</tr>
						<tr>
							<th><span class="lighten"> Genre </span></th>
							<td><span ng-repeat="genre in movie.genre" itemprop="name">{{genre['$']}}{{$last ? '' : ', '}}</span></td>
						</tr>
						<tr>
							<th><span class="lighten"> Nationalité </span></th>
							<td><span ng-repeat="nationality in movie.nationality" itemprop="name">{{nationality['$']}}{{$last ?
									'' : ', '}}</span></td>
						</tr>
						<tr>
							<th><span class="lighten"> Presse </span></th>
							<td>
							<span class="note">{{movie.statistics.pressRating | number:1}}</span> 
							<span class="lighten fs11">{{movie.statistics.pressReviewCount | number}} critiques </span>
							</td>
						</tr>
						<tr>
							<th><span class="lighten"> Spectateurs </span></th>
							<td>
							<span class="note" itemprop="ratingValue"	content="{{movie.statistics.userRating | number:1}}">{{movie.statistics.userRating | number:1}}</span> 
							<span class="lighten fs11"> pour <span data-prop="ratingCount" itemprop="ratingCount">{{movie.statistics.userRatingCount | number}}</span> notes dont <span data-prop="reviewCount" itemprop="reviewCount">{{movie.statistics.commentCount | number}}</span> critiques</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="titlebar_01">
		<h2 id="synopsys_details" class="tt_r22 d_inline_block w-scrollto">Synopsis et détails</h2>
	</div>
	<div class="margin_20b">
		<span class="insist"> <span class="insist">{{movie.movieCertificate.certificate['$']}}</span> <br>
		</span>
		<p itemprop="description">{{movie.synopsis}}</p>
	</div>
	<div class="margin_20b">
		<div class="expendTable" style="overflow: hidden; ">
			<table class="table table-standard thead-standard table-striped_2 fs11">
				<colgroup>
					<col width="100px">
					<col width="100px">
					<col width="10px">
					<col width="100px">
					<col width="100px">
				</colgroup>
				<tbody>
					<tr class="alternate visible">
						<th><div>Titre original</div></th>
						<td>{{movie.originalTitle}}</td>
						<td class="cell_sep"></td>
						<th><div>Récompenses</div></th>
						<td>{{movie.statistics.awardCount}} award <br/> {{movie.statistics.nominationCount}} nomination</td>
					</tr>
					<tr class=" visible">
						<th><div>Budget</div></th>
						<td>{{movie.budget}}</td>
						<td class="cell_sep"></td>
						<th><div>Box Office France</div></th>
						<td>{{movie.statistics.admissionCount}} entrées</td>
					</tr>
				</tbody>
			</table>
			<div class="breaker"></div>
		</div>
	</div>
</div>
<button type="submit" onclick="window.history.back()" class="btn btn-info">
	<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
</button>
