<div class="modal fade" id="quizModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="formQuiz" novalidate class="form-horizontal" ng-submit="submitQuiz()" ng-focus="name">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
					<h4 class="modal-title">Create a new quiz</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">
							<label for="name" class="control-label">Name</label>
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="name" ng-model="quiz.name" required placeholder="Name of the quiz" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="type" class="control-label">Type</label>
						</div>
						<div class="col-sm-4">
							<select class="form-control" name="type" ng-model="quiz.type">
								<option ng-repeat="type in types" ng-selected="type == quiz.type" ng-value="quizType">{{type}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="nbQuestions" class="control-label">Number of questions</label>
						</div>
						<div class="col-sm-4">
							<select class="form-control" name="nbQuestions" ng-model="quiz.nbQuestions">
								<option ng-repeat="nb in nbQuestions" ng-selected="nb == quiz.nbQuestions" ng-value="nb">{{nb}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="difficulty" class="control-label">Difficulty</label>
						</div>
						<div class="col-sm-4">
							<select class="form-control" name="difficulty" ng-model="quiz.difficulty">
								<option ng-repeat="difficulty in difficulties" ng-selected="difficulty == quiz.difficulty" ng-value="difficulty">{{difficulty}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCreateQuiz()">
						<span class="glyphicon glyphicon-ban-circle"></span> Cancel
					</button>
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-save"></span> Save
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div>
	<h2>Quizzes</h2>
	<jh-alert></jh-alert>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Number of questions</th>
					<th>Difficulty</th>
					<th>
						<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addQuizModal"
							ng-click="add()">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="quiz in quizzes">
					<td>{{quiz.name}}</td>
					<td>{{quiz.type.label}}</td>
					<td>{{quiz.multipleChoiceQuestions.length}}</td>
					<td>{{quiz.difficulty}}</td>
					<td>
						<button type="submit" ui-sref="quiz.detail({id:quiz.id})" class="btn btn-info btn-sm" has-authority="ROLE_ADMIN">
							<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
						</button>
						<button type="submit" ui-sref="quiz.play({id:quiz.id})" class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon glyphicon-play"></span>&nbsp;<span> Play</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<nav>
			<ul class="pager">
				<li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
				<li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
				<li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
				<li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
			</ul>
		</nav>
	</div>
</div>
