<div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>{{quiz.theme.title}}</h2>

			<div class="modal-header">
				<div ng-show="!currentStats">
					<div class="row">
						<div class="col-md-2">
							<label for="name" class="control-label">Name</label>
						</div>
						<div class="col-md-10">
							<input type="text" class="form-control" name="name" ng-model="quiz.name" disabled="disabled" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label for="description" class="control-label">Description</label>
						</div>
						<div class="col-md-10">
							<textarea type="text" class="form-control" name="description" ng-model="quiz.type.description"
								disabled="disabled" />
						</div>
					</div>
					<button type="button" class="btn btn-default" ng-click="start()" ng-disabled="sessionScore">
						<span class="glyphicon glyphicon-play"> Start the quiz</span>
					</button>
				</div>
				<div ng-show="currentStats">
					<div class="row">
						<div class="col-md-2">
							<label class="control-label">Success</label>
						</div>
						<div class="col-sm-10">
							<progressbar animate="true" max="max" value="currentStats.success" type="success">
							<i>{{currentStats.success}}/{{max}}</i></progressbar>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label class="control-label">Fail</label>
						</div>
						<div class="col-sm-10">
							<progressbar animate="true" max="max" value="currentStats.fail" type="danger">
							<i>{{currentStats.fail}}/{{max}}</i></progressbar>
						</div>
					</div>				
				</div>
			</div>
			<div ng-show="started">
				<fieldset>
					<legend>{{currentCard.question.label}}</legend>

					<table class="table">
						<tbody>
							<tr class="success">
								<td width="25%" ng-repeat="answer in currentCard.possibleAnswsers">
									<button id="answer{{answer.id}}" type="button" class="btn btn-success" ng-click="response(answer.id)" title="{{answer.label}}">{{answer.label}}</button>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>

			<button type="submit" onclick="window.history.back()" class="btn btn-info">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
			</button>
		</div>
	</div>
</div>
