<div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>Quiz</h2>

			<div class="row">
				<div class="col-md-2">
					<label for="id" class="control-label">Id</label>
				</div>
				<div class="col-md-10">
					<input type="text" class="form-control" name="id" ng-model="quiz.id" disabled="disabled" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label for="name" class="control-label">Name</label>
				</div>
				<div class="col-md-10">
					<input type="text" class="form-control" name="name" ng-model="quiz.name" disabled="disabled" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label for="description" class="control-label">Description</label>
				</div>
				<div class="col-md-10">
					<textarea type="text" class="form-control" name="description" ng-model="quiz.type.description" disabled="disabled" />
				</div>
			</div>

			<div ng-repeat="question in quiz.multipleChoiceQuestions">
				<fieldset>
					<legend>{{question.label}}</legend>

					<table class="table table-bordered">
						<tbody>
							<tr class="success">
								<td width="10%">Correct</td>
								<td width="30%">{{question.correctAnswer.label}}</td>
								<td width="30%" >&nbsp;</td>
								<td width="30%">&nbsp;</td>
							</tr>
							<tr class="danger">
								<td width="10%">Wrong</td>
								<td width="30%" ng-repeat="answser in question.wrongAnswsers">{{answser.label}}</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>
			<button type="submit" onclick="window.history.back()" class="btn btn-info">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
			</button>
		</div>