/*----------*/
.data_box .img_side_content .poster .OverlayPlay, html[xmlns*="http"] #col_right .media-meta[class*='xsmall'] .thumbs-inner .OverlayPlay
	{
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/poster_overlay.png)
		0 -1px no-repeat;
}

.btn_link_twt {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/btn_link_twt.png)
		no-repeat 0 0;
}

.btn_link_twt:hover {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/btn_link_twt.png)
		no-repeat 0 -20px;
}

body.secure {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/secure_account/bg_page_account.jpg)
		repeat-x scroll 0 0 #008da9 !important;
}

body.secure .advantage_group_1, body.secure .advantage_group_2, body.secure .advantage_group_3,
	body.secure .tips_box .illustr {
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/secure_account/sprite_inscription_compte_v7_new01.png);
}

body.secure #two_cols {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/secure_account/bg_col.png)
		repeat-y 638px 0;
}

body.secure .input_spinner {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/secure_account/loading_blue_input.gif)
		no-repeat right 50%;
}

body.secure .destruction .illustr {
	background:
		url( ../../mediatheque/commons/shared/secure_account/the_end.png)
		no-repeat 0 0;
}

body.secure .alertes .illustr {
	background:
		url( ../../mediatheque/commons/shared/secure_account/illustr_alertes.png)
		no-repeat 0 0;
}

body.secure .create_account .box_09 .illustr {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/secure_account/illustr_bg_create_account.jpg)
		no-repeat 0 0;
}

.top_3 .top_01 strong span {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/picto_top_3_01.png)
		no-repeat 50% 0;
}

.top_3 .top_02 strong span, .top_3 .top_03 strong span {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/picto_top_3_02.png)
		no-repeat 50% 0;
}

.price_box {
	background: #fff
		url(http://fr.web.img1.acsta.net/commons/webui/shared/millimetre.png)
		no-repeat 50% 50%;
}

.star_interviews {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/fichestar_home_interview.jpg)
		no-repeat 0 0;
}

.anchor_list, .img_grid {
	background: transparent
		url(http://fr.web.img1.acsta.net/commons/webui/shared/background_dotted.png)
		no-repeat 0 0;
}

.people_4_cine_banner .inner {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/people_4_cine_logo.png)
		8px 8px no-repeat;
}

.shot_with_most .loader_with {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/loader_shot_most_with.png)
		no-repeat 0 0;
}

.bet_graph_circle {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/graph_bet.png)
		no-repeat 0 0;
}

.bet_graph_center {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/graph_bet_center2.png)
		no-repeat 10px 10px;
}

.bet_link {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/bet_link.png)
		no-repeat 0 0;
}

.bet_link {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/shared/bet_link.png)
		no-repeat 0 0;
}

.module-actionbar .module-discoverfbc .module-discoverfbc-inner {
	background: #fff
		url(http://fr.web.img1.acsta.net/commons/webui/shared/bam/bam_avatar_fbc.jpg)
		0 0 no-repeat;
}
/*----------*/
body {
	background-position: 50% 0 !important;
}

#header #logo a, #header #logo span, #footer .aclogofooter, #header #connect_member,
	#header #connect_member .connect_member_inner .connect_login a, #header #connect_member .my_account_btn .arrow,
	.my_account_nav .my_account_btn .arrow, #header #connect_member .my_account_btn:hover .arrow,
	#header #connect_member .over.my_account_btn .arrow, #header .search_engine .searchForm .search_input,
	#header #connect_member .connect_member_inner .connect_loader, #footer .searchForm .search_input,
	#header #connect_member .connect_member_inner .connect_login .fb [class*='_picto'],
	#header.is_pinned .search_engine .searchForm .search_input, #header.is_pinned .search_engine.is_expand .searchForm .search_input,
	.my_account_btn .arrow, #back-top a:before {
	background-image: url(img/sprite_local_7.1.png);
	background-repeat: no-repeat;
}

#connectbar, #connectbar .connectedInner .userID, #connectbar .disconnectedInner .leftZone,
	#connectbar .bg_arrow, #connectbar .connectedInner, #connectbar .disconnectedInner,
	#connectbar .bg_connectbar, #connectbar .shadowbar, #connectbar .disconnectedInner .rightZone .member,
	#connectbar .disconnectedInner .rightZone .connect, #connectbar .disconnectedInner .rightZone .fb,
	#connectbar .connectedInner .userMenu li.mailbox a, #connectbar .connectedInner .userMenu li.mailbox a.message
	{
	background-image: url(img/sprite_connect_bare.png);
}

#connectbar .disconnectedInner .leftZone {
	width: 602px;
}

#connectbar .disconnectedInner .rightZone .member {
	width: 115px;
	background-position: -31px -74px;
}

#connectbar .disconnectedInner .rightZone .connect {
	width: 95px;
	background-position: -147px -74px;
}

.box_service {
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/services/hp_bloc_services.jpg);
}

.cines_fav_push {
	background: #fff
		url(http://fr.web.img1.acsta.net/commons/webui/FR/showtimes_list/bg_showtimes_emc.jpg)
		no-repeat 0 0;
}

.short_movie_chrono {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/short_movie/short_movie_chrono.jpg)
		0 0 no-repeat;
}

.fin_activation .illustr {
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/secure_account/create_account_end.png);
}

.secure #header #logo a {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/secure_account/logo_account.png)
		no-repeat 0 0 !important;
}

.secure .ribbon_free {
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/secure_account/ribbon_free.png);
}

.rib_free {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/secure_account/rib_free.png)
		no-repeat 0 0;
}

#header, #footer #footer_top {
	background: #ffe12d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffe12d),
		to(#ffcb01));
	background: -moz-linear-gradient(top, #ffe12d, #ffcb01);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe12d,
		endColorstr=#ffcb01);
}

#footer #footer_top {
	border-bottom: 1px solid #c00;
}

#header #logo, #header #logo a, #header #logo span {
	width: 195px;
	height: 69px;
}

#header #logo a, #header #logo span {
	background-position: -10px 0;
}

#header .search_engine .extralinks, #header .search_engine .extralinks a,
	#footer #footer_top p, #footer #footer_top p a {
	color: #000;
}

#header .ac_autopromo {
	width: 219px;
	font-size: 11px;
	line-height: 16px;
	padding: 11px 0 0 0;
	height: 50px;
}

#header .ac_autopromo a {
	color: #000;
}

#header #nav>ul {
	padding: 0 10px;
	border-color: #ffe562;
	background: #ffdc08;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdc08),
		to(#ffc802));
	background: -moz-linear-gradient(top, #ffdc08, #ffc802);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdc08,
		endColorstr=#ffc802);
}

#header #nav ul .active em, #header #nav ul li a {
	color: #000;
}

#header #nav ul li strong {
	padding: 0 16px;
	text-shadow: 0 1px 1px #fff;
}

#header.is_pinned #nav ul li.active strong:after, #header.is_pinned #nav ul li.active .subnav:after
	{
	background: none;
}

#header #nav>ul:after, #header #nav ul li.active strong:after, #header #nav ul li.active .subnav:after
	{
	content: "";
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #262626;
}

#header #nav ul li.active strong:after {
	margin: 0 1px;
}

#header #nav ul li.active span {
	height: 34px;
}

#header #nav>ul:after {
	top: 1px;
	background: #ffe235;
}

#header #nav ul li a:hover {
	background: #ffe866;
}

#header #nav ul li a span {
	background: none;
}

#header #nav ul .active>em, #header #nav ul .active a, #header #nav ul .active a:hover
	{
	color: #fff;
}

#header #nav ul li:first-child>a {
	border-left: none !important;
}

#header #nav ul .active span {
	display: block;
	border-top: 1px solid #000;
	background: #202020;
	background: -webkit-gradient(linear, left top, left bottom, from(#323232),
		to(#202020));
	background: -moz-linear-gradient(top, #323232, #202020);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232,
		endColorstr=#202020);
}

#header #nav ul .active strong {
	height: 33px;
	border: solid #000;
	border-width: 0 1px;
	text-shadow: none;
}

#header #nav ul .active .subnav {
	border-top: #000 1px solid;
	border-bottom: #fff 1px solid;
	background: #202020;
	background: -webkit-gradient(linear, left top, left bottom, from(#202020),
		to(#100f0f));
	background: -moz-linear-gradient(top, #202020, #100f0f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020,
		endColorstr=#100f0f);
}

#header #nav ul .active .subnav a, #header #nav ul .active .subnav ul li a
	{
	color: #bbb;
}

#header #nav ul .active .subnav ul li .rub {
	color: #000;
}

#header #nav ul .over .subnav ul li a {
	color: #005EA8;
}

#header #nav ul .active .subnav a:hover, #header #nav ul .active .subnav ul li a:hover
	{
	color: #fff;
	text-decoration: underline;
}

#header #nav ul .active .subnav ul li .rub {
	color: #fff;
	padding: 0;
	margin: 0 11px;
	border-bottom: 3px solid #ffca03;
	height: 40px;
	display: inline-block;
}

#header #nav ul .active .subnav ul li .rub:hover {
	text-decoration: none
}

#header #nav ul .over .subnav ul li a:hover {
	color: #dc1034;
	background: none;
	border: none;
}

#header #nav ul .active .subnav ul li {
	color: #91a1be;
}

#header #nav .item_4 a span strong {
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/pv_icono/icone_tab_export.gif);
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/pv_icono/header_iconePLAYvideo.gif);
	background-position: 16px 50%;
	background-repeat: no-repeat;
	padding-left: 42px;
}

#header #nav .item_4.active a span strong {
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/pv_icono/icone_tab_export_hover_anim.gif);
	background-image:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/pv_icono/header_iconePLAYvideo_active.gif);
	background-position: 16px 50%;
	background-repeat: no-repeat;
}

#header #nav .item_4.active .subnav li:nth-child(8) {
	border-left: 1px solid #515151;
}

#header #nav .item_4.active .subnav li:nth-child(8) a {
	position: relative;
}

#header #nav .item_4.active .subnav li:nth-child(8) a:after {
	content: 'klashs';
	position: absolute;
	right: 11px;
	top: 0;
	color: #fc0;
}

#header #nav .item_4.active .subnav li:nth-child(8) .rub:after {
	right: 0;
}

.btn_form {
	background: #ffd400;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdb00),
		to(#ffc900));
	background: -moz-linear-gradient(top, #ffdb00, #ffc900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdb00,
		endColorstr=#ffc900);
	border: 1px solid #ffb704;
	border-top-color: #ffca00;
	border-bottom-color: #ff9b00;
	-webkit-box-shadow: 0px 2px 2px #253c6f, 0px 2px 2px #ffe440 inset;
	-moz-box-shadow: 0px 2px 2px #253c6f, 0px 2px 2px #ffe440 inset;
	box-shadow: 0px 2px 2px #253c6f, 0px 2px 2px #ffe440 inset;
}

.btn_form:hover {
	-webkit-box-shadow: 0 1px 0 #ffb71f inset;
	-moz-box-shadow: 0 1px 0 #ffb71f inset;
	box-shadow: 0 1px 0 #ffb71f inset;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffad00),
		to(#ffd300));
	background: -moz-linear-gradient(top, #ffad00, #ffd300);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffad00,
		endColorstr=#ffd300);
}

#header.is_pinned .search_engine.is_expand .searchForm {
	left: -267px;
	width: 302px;
}

#header .search_engine .searchForm .search_input, #footer .searchForm .search_input
	{
	border: 1px solid #d1cab1;
	padding: 5px 8px 5px 30px;
	width: 205px;
	color: #000;
	background-color: rgba(255, 255, 255, 1);
	background-position: -297px 4px;
}

#header .search_engine .searchForm .search_input:focus, #footer .searchForm .search_input:focus
	{
	outline: none;
}

#header .search_engine .searchForm .btn_form, #footer .searchForm .btn_form
	{
	border-color: #212428;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
	background: #212428;
	background: -webkit-gradient(linear, left top, left bottom, from(#212428),
		to(#000000));
	background: -moz-linear-gradient(top, #212428, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#212428,
		endColorstr=#000000);
}

#header #connect_member .connect_member_inner {
	background: #ffdc08;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdc08),
		to(#ffc401));
	background: -moz-linear-gradient(top, #ffdc08, #ffc401);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdc08,
		endColorstr=#ffc401);
}

#header #connect_member .connect_member_inner .connect_login a:hover {
	background-color: #FEE569;
	border: 1px solid #FEE569;
}

#header #connect_member .connect_member_inner .connect_logged .avatar {
	border: 1px solid #ffba0e;
}

#header #connect_member .connect_member_inner .connect_logged .avatar img
	{
	width: 33px;
	height: 33px;
	display: block;
}

#header #connect_member #my_account_nav, .my_account_nav {
	margin-left: -1px;
	border: 1px solid #d7a600;
	border-top-color: transparent;
	background: #ffe562;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdb00),
		to(#ffc700));
	background: -moz-linear-gradient(top, #ffdb00, #ffc700);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdb00,
		endColorstr=#ffc700);
}

#header #connect_member .my_account_btn, .my_account_nav .my_account_btn
	{
	border-top: 1px solid #ffee88;
	border-bottom: 1px solid #ca9a00;
	text-shadow: 0 1px 1px #fff;
}

#header #connect_member .my_account_btn:hover, #header #connect_member .over.my_account_btn,
	#header #connect_member .active.my_account_btn {
	border-top: 1px solid #0097aa;
	border-bottom: 1px solid #008999;
	color: #fff;
	height: 31px;
	text-shadow: 1px -1px 0 #006066;
	filter: dropshadow(color = #006066, offx = 1, offy = -1);
	background: #0097a8;
	background: -webkit-gradient(linear, left top, left bottom, from(#0097a8),
		to(#008999));
	background: -moz-linear-gradient(top, #0097a8, #008999);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0097a8,
		endColorstr=#008999);
}

#header #connect_member .active.my_account_btn {
	-webkit-box-shadow: 0 0 0 0 #33acba inset;
	-moz-box-shadow: 0 0 0 0 #33acba inset;
	box-shadow: 0 0 0 0 #33acba inset;
}

#header #connect_member .my_account_menu {
	background: #d6d6db;
	background: rgba(0, 0, 0, 0.1);
}

#header #connect_member .my_account_menu ul {
	background: #fff;
	border-bottom: 4px solid #0098aa;
}

#header #connect_member .my_account_menu .sep {
	border-top: 1px solid #f5f5f5;
}

#header #connect_member .my_account_menu .sep a {
	border-top: 1px solid #eaeae9;
}

#header #connect_member .my_account_menu a {
	border: 1px solid #fff;
}

#header #connect_member .my_account_menu a:hover {
	border: 1px solid #cad0de;
	background: #f6f7f9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f7f9),
		to(#eaeef1));
	background: -moz-linear-gradient(top, #f6f7f9, #eaeef1);
	-webkit-box-shadow: 0px 1px 1px #fff inset;
	-moz-box-shadow: 0px 1px 1px #fff inset;
	box-shadow: 0px 1px 1px #fff inset;
}

#header #connect_member .my_account_menu .msg {
	color: #888;
	border: 1px solid #d6d6d4;
}

#footer .searchForm p {
	clear: both;
}

#videos_home #header.is_pinned #nav ul .active .subnav {
	top: 39px;
	height: 34px;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li {
	height: auto;
	border: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li em {
	display: none;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li a {
	font-size: 11px;
	font-weight: 700;
	height: 34px;
	line-height: 34px;
	padding: 0 11px;
	color: #bbb;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li a:hover {
	text-decoration: underline;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li:hover {
	background: none;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li:hover:after
	{
	display: none;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li .rub {
	color: #fff;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li:last-child a
	{
	line-height: 34px;
	margin-top: 0;
}

#videos_home #header.is_pinned #nav ul .active .subnav ul li:last-child
	{
	width: auto;
}

#header.is_pinned #logo {
	background-image: url(img/sprite_local_7.1.png);
	background-position: -10px -160px;
	width: 95px;
}

#header.is_pinned #nav:after {
	background: #171717;
}

#header.is_pinned #nav {
	background: #ffdc08;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdc08),
		to(#ffc802));
	background: -moz-linear-gradient(top, #ffdc08, #ffc802);
}

#header.is_pinned #nav ul .active span, #header.is_pinned #nav ul .active strong
	{
	background: #171717;
	background: -webkit-gradient(linear, left top, left bottom, from(#323232),
		to(#171717));
	background: -moz-linear-gradient(top, #323232, #171717);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232,
		endColorstr=#171717);
}

#header.is_pinned #nav ul .active span {
	
}

#header #nav ul .active strong {
	border-top: 1px solid #4d5053 !important;
}

#header.is_pinned .search_engine .searchForm {
	border-right: 1px solid #e5b700;
}

#header.is_pinned .search_engine .searchForm .search_input {
	background-position: -303px -24px;
}

#header.is_pinned .search_engine.is_expand .searchForm .search_input {
	background-position: -297px 4px;
	width: 171px;
}

#header.is_pinned #nav ul .active .subnav {
	background: #171717;
}

#header.is_pinned #connect_member .connect_member_inner .connect_login a
	{
	background-position: -293px -109px;
}

#header #nav ul .item_8.active strong {
	border-top: none !important;
}

#footer .aclogofooter {
	width: 180px;
	height: 50px;
	background-position: -19px -8px;
}

.film_bse span {
	width: 76px;
}

.eval_source {
	width: 78px;
}

#shortfilms_overview .banner_brand, #shortfilms_about .banner_brand,
	#shortfilms_top_videos .banner_brand, #shortfilms_news .banner_brand,
	#shortfilms_festival_list_top .banner_brand,
	#shortfilms_list_all_content .banner_brand, #newspage_shortfilms .banner_brand
	{
	background: #fff;
}

.secure #header #logo, .secure #header #logo a {
	height: 46px !important;
	width: 159px !important;
}

.secure #header #logo {
	margin: 10px 0 0 10px;
}

.advantage_group {
	height: 100px;
}

.secure #header .link_arrow_l {
	top: -5px;
	left: 125px;
	color: #000;
}

.module-actionbar-panels .panel-open-graph .panel-illu-large {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/my_ac/open-graph-fb.png)
		0 0 no-repeat;
}

.module-actionbar-panels [class*="panel-open-graph"] .panel-illu {
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/my_ac/open-graph-fb.png)
		0 -192px no-repeat;
}

.myaccount .profile-user .user-follow .follow_txt.mtype, .myaccount .profile-user .user-follow .follow_txt.wtype
	{
	background:
		url(http://fr.web.img1.acsta.net/commons/webui/FR/my_ac/my_account_follow_activity_txt.png)
		0 0 no-repeat;
}

.myaccount .profile-user .user-follow .follow_txt {
	width: 135px;
}

.modal-inner .btn_fb, .modal-inner .btn_gg {
	width: 199px;
}

.modal-inner .btn-fb, .modal-inner .btn-gplus, .secure .unit .btn-fb,
	.secure .unit .btn-gplus {
	width: 236px;
}

.myfriends .btn_fb, .myfriends .btn_gg, .myfriends .btn-fb, .myfriends .btn-gplus
	{
	width: auto;
}

.modal.myfriends {
	background: #fff
		url(http://fr.web.img1.acsta.net/commons/webui/FR/secure_account/bg_tooltip_friends_FR.jpg)
		no-repeat 314px bottom;
}

#header #nav>ul li.item_9 .subnav {
	display: none;
}

#ope_bnp_list #header {
	margin: 0;
}

#header #nav ul li strong {
	font-size: 13px;
}

#header #nav ul li strong {
	padding: 0 12px;
}

#header #nav .item_4 a span strong {
	background: none;
	padding-left: 19px;
}

#header #nav .item_4.active a span strong {
	background: none;
}

.btn-bnp {
	border: none;
	color: #fff;
	background: #00c18b;
}

.btn-bnp:hover {
	border: none;
	color: #fff;
	background: #3dcc9c;
	-webkit-box-shadow: inset 0 -2px 0 0 #00bd7e;
	box-shadow: inset 0 -2px 0 0 #00bd7e;
}

.btn-bnp:active, .btn-bnp.btn-active, .btn-bnp.btn-active:hover {
	border: none;
	background: #00c18b;
	cursor: pointer;
}

.btn-primary:active [class*="icon-"] {
	opacity: .5;
}

.bnp_txt span {
	color: #bababa;
	font-size: 11px;
}

.bnp_txt strong {
	color: #03c586;
}

#col_right .box_right_col[data-w='external_news_list'] .titlebar .title
	{
	color: #00c18b;
	font-size: 24px;
	line-height: 24px;
}

#col_right .box_right_col[data-w='external_news_list'] {
	border-top: 6px solid #000;
}

.box_right_col.pureGastro .titlebar span.title a, .box_right_col.easyvoyage .titlebar span.title a
	{
	display: block;
	padding-top: 0;
}

.box_right_col.pureGastro .titlebar span.title .logo, .box_right_col.easyvoyage .titlebar span.title .logo
	{
	max-width: 100px;
	float: right;
	text-align: right;
	margin: -25px 0 10px 0;
}

.list_hours li {
	line-height: 1;
	float: left;
	padding: inherit;
	border-left: none;
	margin: 0 12px 12px 0;
}

.list_hours li em {
	display: block;
	font-weight: 700;
	color: #dc1034;
	background: #fff;
	padding: 5px;
	border: 2px solid #e5e6e6;
	border-bottom: 2px solid #e5e6e6;
	cursor: default;
	text-align: center;
	width: 5em;
	height: 3.5em;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.3;
}

.list_hours li em.cPointer {
	cursor: pointer;
}

.list_hours li em.e_over .simple_tooltip, .list_hours li em.e_over .simple_tooltip>span
	{
	border: none;
}

.list_hours li em.e_over .st_arrow_b {
	top: auto;
	bottom: 62px;
}

.list_hours li em>b {
	font-weight: 300;
	color: #000;
	text-decoration: underline;
}

.list_hours li em:hover {
	background: #f2294c;
	color: #fff;
	border: 2px solid #f2294c;
	border-bottom: 2px solid #f2294c;
}

.list_hours li em:hover>b {
	color: #fff;
}

.list_hours li em.btn-disabled>b {
	color: #c0c8d6 !important
}

.list_hours li em.btn-disabled {
	background: #fff;
	border: 2px solid #e5e6e6;
}

.list_hours li em.btn-disabled.cPointer, .list_hours li em.btn-disabled.cPointer:hover
	{
	cursor: default;
}

.list_hours li em.btn-on {
	color: #fff;
	background: #dc1034;
	border: 2px solid #dc1034;
	border-bottom: 2px solid #dc1034;
}

.tooltipHours {
	background: #fff;
	padding: 20px;
	position: absolute;
	z-index: 1;
	display: inline-block;
	-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
}

.tooltipHours:before, .tooltipHours:after {
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 14px 10px;
	position: absolute;
	right: 30px;
}

.tooltipHours:before {
	border-color: transparent transparent #d6d6d4 transparent;
	top: -15px;
	z-index: 2;
}

.tooltipHours:after {
	border-color: transparent transparent #fff transparent;
	top: -14px;
	z-index: 3;
}

.btn-hour {
	font-weight: bold;
	text-align: center;
	width: 5em;
	height: 3.5em;
	display: table-cell;
	vertical-align: middle;
	cursor: default;
}

.btn-hour.cPointer {
	cursor: pointer;
}

.btn-hour.btn-large {
	padding: 4px;
}

.btn-hour>b {
	color: #000;
	font-weight: 300;
	text-decoration: underline;
}

.btn-hour.btn-on>b, .btn-hour:hover>b {
	color: #fff;
}

.btn-hour.btn-disabled.cPointer, .btn-hour.btn-disabled.cPointer:hover {
	cursor: default;
}

.btn-hour.btn-disabled>b, .btn-hour.btn-disabled:hover>b {
	color: #d6d6d4;
}

.btn-hour .simple_tooltip.st_arrow_b {
	top: auto;
	bottom: 60px;
}

.showtimes>div:nth-child(2) ul {
	margin: -10px 0 0 -20px;
}

.showtimes>div:nth-child(2) ul li {
	margin: 10px 0 0 20px;
}

.list_hours {
	overflow: inherit;
}

.list_hours:after {
	display: block;
	content: '';
	overflow: hidden;
	height: 0;
	clear: both;
}

/* -- ADDITIONAL DUE TO NEW AD FORMATS -- */