

<div>
	<link type="text/css" rel="stylesheet" href="/assets/styles/core_a.css">
	<link type="text/css" rel="stylesheet" href="/assets/styles/core_b.css">
	<link type="text/css" rel="stylesheet" href="/assets/styles/local_7.1.css">

	<div id="name" class="titlebar_01 margin_10b">
		<span class="tt_r26 j_entities">{{person.name.given}}&nbsp;{{person.name.family}}</span>
	</div>

	<div class="data_box">
		<div class="img_side_content pos_rel">
			<div class="poster">
				<img src="/pictureServlet?id={{person.code}}&type=photo&scale"
					alt="{{person.name.given}}&nbsp;{{person.name.family}}" title="{{person.name.given}}&nbsp;{{person.name.family}}"
					itemprop="image"> <img class="OverlayPlay" width="0" height="0" alt=" "
					src="http://fr.web.img4.acsta.net/commons/empty.gif">
			</div>
			<div class="content">
				<table class="data_box_table margin_10b">
					<tbody>
						<tr>
							<th><span class="lighten"> Métier </span></th>
							<td>{{person.activityShort}}</td>
						</tr>
						<tr>
							<th><span class="lighten"> Nationalité </span></th>
							<td><span ng-repeat="nationality in person.nationality" itemprop="name">{{nationality[$]}}{{$last ?
									'' : ', '}}</span></td>
						</tr>
						<tr>
							<th><span class="lighten"> Naissance </span></th>
							<td>{{person.birthDate}} ({{person.birthPlace}})</td>
						</tr>
						<tr>
							<th><span class="lighten"> Âge </span></th>
							<td>ans</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="titlebar_01">
		<h2 id="synopsys_details" class="tt_r22 d_inline_block w-scrollto">
			Biographie<span class="fs11 lighten">{{person.name.given}}&nbsp;{{person.name.family}}</span>
		</h2>
	</div>
	<div class="margin_20b">{{person.biographyShort}}</div>
	<div class="titlebar_01">
		<h2 id="synopsys_details" class="tt_r22 d_inline_block w-scrollto">
			Filmographie<span class="fs11 lighten">{{person.name.given}}&nbsp;{{person.name.family}}</span>
		</h2>
	</div>
	<div class="media_list_02 media_list_hl">
		<ul class="list_li_m_40b align_c">
			<li ng-repeat="participation in person.participation | filter:participation.movie"><a class="xXx "><img
					src="/pictureServlet?id={{participation.movie.code}}&type=poster&scale" alt="{{participation.movie.poster.name}}"
					title="{{participation.movie.title}}" itemprop="image"></a> <strong>{{participation.movie.title}}</strong>
				<p class="fs11 lighten_hl">{{participation.movie.productionYear}}</p></li>
		</ul>
	</div>
</div>
<button type="submit" onclick="window.history.back()" class="btn btn-info">
	<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
</button>
